[credential]
    helper = store
[user]
    name = DanielAndreasen
    email = daniel.andreasen@astro.up.pt
[diff]
    external = git_diff_wrapper
[pager]
    diff =
[push]
    default = simple
[merge]
    tool = splice
[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true
[init]
    templatedir = /home/daniel/.git-templates
